.course-details-container {
    padding-top: 70px;
  }
  
  .course-details-container h1 {
    font-size: 2.5rem;
    color: #ff6f61;
    margin-bottom: 20px;
  }

  .course-details-container h2 {
    font-size: 2.5rem;
    color: #FFA500;
    margin-bottom: 20px;
    margin-top: 20px;
  }

  .sticky-card {
    position: -webkit-sticky; 
    position: sticky;
    top: 20px; 
  }
  .card-text {
    font-size: 1rem;
    color: #202020;
  }
  
  .card-heading {   
    color: #000;
  }

  .course-image {
    width: 100%;
    max-width: 500px;
    height: auto;
    margin-bottom: 20px;
  }
  
  .course-info {
    margin-bottom: 20px;
  }
  
  .course-info strong {
    display: block;
    margin-bottom: 5px;
  }

  h4 {
    color: #da0909;
  }
  
  .course-sections {
    margin-top: 30px;
  }
  
  .section-heading {
    font-size: 1.5rem;
    margin-top: 15px;
    color: #666;
  }
  
  .section-duration {
    color: #999;
    font-size: 1rem;
  }
  
  .section-videos {
    list-style: none;
    padding-left: 0;
  }
  
  .section-videos li {
    margin-bottom: 10px;
  }
  
  .btn-enroll {
    text-decoration: none;
    color: #fff;
    background-color: #FFA500;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin-top: 20px;
    justify-content: center;
    margin-bottom: 40px;
    border: none;
  }


 .btn-enroll:hover {
      background-color: #da971a;
  }

  .btn-add-to-cart {
    text-decoration: none;
    color: #fff;
    background-color: #ff6f61;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin-top: 20px;
    justify-content: center;
    margin-bottom: 40px;
    border: none;
  }


 .btn-add-to-cart:hover {
      background-color: #ff3b2f;
  }

  .btn-payment {
    text-decoration: none;
    color: #fff;
    background-color: #ff6f61;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin-top: 20px;
    justify-content: center;
    margin-bottom: 40px;
    border: none;
  }


 .btn-payment:hover {
      background-color: #ff3b2f;
  }
  
  .episode-list ul li{
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    margin: 1.5em;
    cursor: pointer;
    padding: 1em;
    background: #FF6F61;
    position: relative;
    color: white;
    border-radius: 5px;
  }

  .episode-list ul li::before,
  .episode-list ul li::after {
    content: "";
    position: absolute;
    z-index: -1;
    border-radius: 5px;
    width: 105%;
    transition: all 0.4s;
}
.episode-list ul li::before {
    left: 0%;
    height: 130%;
    background: linear-gradient(to right, #fadbad, #FFA500);
}
.episode-list ul li::after {
    left: -10%;
    height: 120%;
    background: #ffffff56;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.164);
}
 .episode-list ul li:hover::before {
    transform: translateX(-2.5%);
}
.episode-list ul li:hover::after {
    transform: translateX(15%);
}