.pb-6, .py-6 {
    padding-bottom: 3.75rem!important;
}
.pt-6, .py-6 {
    padding-top: 3.75rem!important;
}
.hover-scale, .hover-scale:hover {
    transition: transform .2s ease-in;
}
.features-section .card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .4rem;
    box-shadow: 0 20px 27px 0 rgb(0 0 0 / 5%);
    transform: translateY(50px);
    animation: cardFadeIn 0.8s ease-in-out forwards;
}
.features-section .card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
}

.features-section .card:hover{
    transform:scale(1.05);
    box-shadow:10px 10px 10px #888888;
    animation: changefontcolor 3s ease-in-out infinite;
  }

.features-section .card:hover img{
    animation: changeImageColor 2s infinite alternate;
  }

  .features-section .card:hover img.bharat {
    filter: brightness(0) saturate(100%) invert(64%) sepia(35%) saturate(641%) hue-rotate(4deg) brightness(103%) contrast(102%);
}

.features-section .h3{
  text-align: center;
}

@keyframes cardFadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes changefontcolor {
    0%{
      color:black;
    }
    50%{
      color:#ffa500;
    }
    100%{
      color:#ff6f61;
    }
  }

  @keyframes changeImageColor {
    0% { filter: grayscale(100%); }
    50% { filter: sepia(100%); }
    100% { filter: hue-rotate(180deg); }
}
  