.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 1000;
    background-color: #FFA500;
    padding: 10px 20px;
    
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
  }
  
  .navbar-light .navbar-brand {
    font-weight: bold;
    color: #000;
  }

  .navbar-brand{
    font-size: x-large;
  }
  
  .nav-link {
    color: #000 !important;
  }
  
  .btn-primary {
    background-color: #007bff;
    border: none;
  }
  
  .navbar-toggler {
    border: none;
  }
  
  .navbar-toggler-icon {
    color: #fff;
  }

  .nav-item .nav-link:hover,
  .nav-item .btn:hover {
    color: #fff !important;
  }

  .btn-cart {
    background-color: #ff6f61;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
}

.btn-cart:hover {
    background-color: #ff3b2f;
}
  
.logo {
  height: 40px; 
  margin-right: 10px;
}
