.courses-section {
  padding: 50px 0;
  background-color: #fff;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.courses-content {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
}

.courses-images {
  position: relative;
  flex: 1;
}

.image {
  position: absolute;
  left: 5%;
  top: 50%;
  transform: translateY(-50%);
  width: 80%;
  height: auto;
  border-radius: 10px;
  max-width: 400px; /* To ensure the image doesn't get too large on wider screens */
}

.courses-text {
  flex: 1;
  padding-left: 250px;
}

.courses-text h3 {
  font-size: 36px;
  color: #333;
  margin-bottom: 10px;
}

.courses-text p {
  font-size: 18px;
  color: #666;
  margin-bottom: 20px;
}

.learn-more {
  font-size: 16px;
  color: #007bff;
  text-decoration: none;
  border-bottom: 1px solid #007bff;
}

.learn-more:hover {
  color: #0056b3;
  border-bottom-color: #0056b3;
}

/* Media Queries */
@media (max-width: 1200px) {
  .courses-text {
    padding-left: 150px; /* Reduce padding on smaller screens */
  }

  .image {
    left: 5%;
    width: 90%;
    max-width: 350px; /* Adjust the maximum width */
  }
}

@media (max-width: 768px) {
  .courses-content {
    flex-direction: column; /* Stack the elements vertically */
    align-items: center;
  }

  .courses-text {
    padding-left: 0;
    text-align: center; /* Center the text */
    margin-top: 20px; /* Add margin to separate from the image */
  }

  .image {
    position: relative;
    left: 0;
    top: 0;
    transform: none;
    width: 80%;
    max-width: 300px; /* Adjust the maximum width */
  }
}

@media (max-width: 480px) {
  .image {
    width: 80%;
    max-width: 250px; /* Adjust the maximum width */
  }

  .courses-text h3 {
    font-size: 28px; /* Adjust font size for smaller screens */
  }

  .courses-text p {
    font-size: 16px; /* Adjust font size for smaller screens */
  }

  .learn-more {
    font-size: 14px; /* Adjust font size for smaller screens */
  }
}
