.about-us {
    max-width: 800px;
    margin: 40px auto;
    margin-top: 80px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .about-us h1 {
    text-align: center;
    color: #FFA500;
  }
  
  .about-us h3 {
    text-align: center;
    align-self: center;
    color: #FFA500;
  }

  .about-us h4 {
    color: #FFA500;
    margin-top: 30px;
  }
  
  .about-us h5 {
    color: #FFA500;
    margin-top: 30px;
  }

  .secondary {
    color: #FF6F61 !important;
    margin-top: 30px;
  }

  .about-us p {
    line-height: 1.6;
    margin-bottom: 20px;
  }
  
  .about-us ul {
    list-style: disc;
    padding-left: 20px;
  }
  
  .about-us ul li {
    margin-bottom: 10px;
  }

  .team-title {
    text-align: center;
    padding-bottom: 30px;
  }
  
  .team-title{
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: #FFA500;
  }
  
  .team-title::before {
    content: "";
    position: absolute;
    display: block;
    width: 120px;
    height: 1px;
    background: #ddd;
    bottom: 1px;
    left: calc(50% - 60px);
  }
  
  .team-title::after {
    content: "";
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: #FF6F61;
    bottom: 0;
    left: calc(50% - 20px);
  }

  
.team .member {
  position: relative;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  padding: 30px;
  border-radius: 5px;
  background: #fff;
  transition: 0.5s;
  height: 100%;
}

.team .member .pic {
  overflow: hidden;
  width: 180px;
  border-radius: 30%;
}

.team .member .pic img {
  transition: ease-in-out 0.3s;
}

.team .member:hover {
  transform: translateY(-10px);
}

.team .member .member-info {
  padding-left: 30px;
}

.team .member h4 {
  font-weight: 700;
  margin-bottom: 5px;
  font-size: 20px;
  color: #FF6F61;
}

.team .member span {
  display: block;
  font-size: 15px;
  padding-bottom: 10px;
  position: relative;
  font-weight: 500;
}

.team .member span::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 1px;
  background: #cbd6e9;
  bottom: 0;
  left: 0;
}

.team .member p {
  margin: 10px 0 0 0;
  font-size: 14px;
}

  